<!DOCTYPE html>
<html lang="pl-PL">
<meta>
    <meta charset="UTF-8" />
    <title>Aleksandra Hotala - <%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="canonical" href="http://psycholog-londyn.co.uk" />
    <link rel="stylesheet" href="css/main.css" />
    <link id="fonts" href="https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto&amp;subset=latin-ext" rel="stylesheet" media="none">
    <link rel="stylesheet" media="(min-width: 550px)" href="css/550px.css" />
    <link rel="stylesheet" media="(min-width: 700px)" href="css/700px.css" />
    <link rel="stylesheet" media="(min-width: 960px)" href="css/960px.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="hero">
        <section class="intro">
            <div class="photo"></div>            
            <div class="name">Aleksandra Hotala</div>
            <h1 class="title"><%= title %></h1>
        </section>        
        <article class="main">
            <%= mainContent %>
        </article>
    </section>

    <%= lowerContent %>
    
    <footer itemscope itemtype="http://schema.org/LocalBusiness">        
        <p itemprop="http://schema.org/name">Aleksandra Hotała - polski psycholog w Londynie</p> 
        <span class="hidden" itemprop="http://schema.org/description">Darmowe pierwsze spotkanie. Terapia indywidualna i terapia par w gabinecie oraz online.</span>
        <p itemprop="http://schema.org/telephone" content="+447438928601">+44 743 8928 601</p>
        <p itemprop="http://schema.org/address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="http://schema.org/streetAddress">180-186 King's Cross Road</span>
            <br />
            <span itemprop="http://schema.org/postalCode">N8 7AL</span>
            <span itemprop="http://schema.org/addressLocality">London</span>
            <span class="hidden" itemprop="http://schema.org/addressRegion">England</span>
            <span class="hidden" itemprop="http://schema.org/addressCountry">GB</span>
        </p>
        <time class="hidden" itemprop="http://schema.org/openingHours" datetime="Mo-Su"></time>
        <img class="hidden" itemprop="http://schema.org/image" src="assets/aleksandra-hotala.jpg" />
        <span class="hidden" itemprop="http://schema.org/url">http://psycholog-londyn.co.uk</span>
    </footer>
    
    <nav>
        <ul>
            <li><a href="/o-mnie"><svg><use xlink:href="assets/icons.svg#graduation"></use></svg>Moje kwalifikacje</a></li>
            <li><a href="/terapia-indywidualna"><svg><use xlink:href="assets/icons.svg#person"></use></svg>Terapia indywidualna</a></li>
            <li><a href="/terapia-par-i-malzenstw"><svg><use xlink:href="assets/icons.svg#couple"></use></svg>Terapia par</a></li>
            <li><a href="/sesje-online"><svg><use xlink:href="assets/icons.svg#skype"></use></svg>Spotkania online</a></li>
            <li><a href="/ceny-i-terminy"><svg><use xlink:href="assets/icons.svg#calendar"></use></svg>Ceny i terminy</a></li>
            <li><a href="/kontakt"><svg><use xlink:href="assets/icons.svg#phone"></use></svg>Kontakt</a></li>
            <li><a href="/"><svg><use xlink:href="assets/icons.svg#home"></use></svg>Strona glowna</a></li>
        </ul>
    </nav>
    <a class="button button-wrapper phone-wrapper nohover" href="tel:+447438928601">
        <div class="button button-round phone-button">
            <div class="icon-wrapper">
                <svg viewBox="0 0 578.106 578.106"><use xlink:href="assets/icons.svg#phone"></use></svg>
            </div>
            <div class="caption">Darmowe spotkanie</div>
        </div>
    </a>
    <a class="button button-wrapper toggle-wrapper">
        <div class="button button-round menu-toggle">
            <div class="icon-wrapper">
                <div class="hamburger-container">
                    <div class="hamburger">
                        <div class="bar bar-1"></div>
                        <div class="bar bar-2"></div>
                        <div class="bar bar-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <span class="sans-loader">Zażółć gęślą jaźń</span>
    <span class="serif-loader">Zażółć gęślą jaźń</span>

    <script>
        var ctaHeader = document.querySelector('body > a.phone-wrapper');
        var ctaBody = document.querySelector('.hero a.phone-wrapper');
        var menuToggle = document.querySelector('a.toggle-wrapper');
        var nav = document.querySelector('nav');
        var fonts = document.querySelector('link#fonts');

        function setCtaHeaderVisibility() {
            var rect = ctaBody.getBoundingClientRect();
            if (rect.bottom <=16 || rect.top >= window.innerHeight - 16) {
                ctaHeader.style.opacity = 1;
            }
            else {
                ctaHeader.style.opacity = 0;
            }
        }

        function toggleMenu() {
            menuToggle.classList.toggle('opened');
            nav.classList.toggle('opened');
        }

        if (ctaBody && ctaHeader) {
            setCtaHeaderVisibility();
            window.addEventListener('scroll', setCtaHeaderVisibility);
            window.addEventListener('resize', setCtaHeaderVisibility);
        }

        if (menuToggle && nav) {
            menuToggle.addEventListener('click', toggleMenu);
        }        

        window.addEventListener('load', function() { document.querySelector('html').classList.add('loaded'); });
    </script>    
</body>
</html>