<!DOCTYPE html>
<html lang="pl-PL">
<meta>
    <meta charset="UTF-8" />
    <title>Aleksandra Hotala - <%= title %></title>
    <meta name="description" content="<%= description %>" />
    <link rel="canonical" href="http://psycholog-londyn.co.uk" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      <%= inlineCss %>
    </style>
</head>
<body>
    <section class="intro">
        <div class="photo"></div>            
        <div class="name">Aleksandra Hotala</div>
        <h1 class="title"><%= title %></h1>
    </section>

    <input type="checkbox" id="menu-toggle" />

    <section class="hero">
        <article class="main">
            <%= mainContent %>
        </article>
        <nav>
            <ul>
                <li><a href="/o-mnie"><svg><use xlink:href="assets/icons.svg#graduation"></use></svg>Moje kwalifikacje</a></li>
                <li><a href="/terapia-indywidualna"><svg><use xlink:href="assets/icons.svg#person"></use></svg>Terapia indywidualna</a></li>
                <li><a href="/terapia-par-i-malzenstw"><svg><use xlink:href="assets/icons.svg#couple"></use></svg>Terapia par</a></li>
                <li><a href="/sesje-online"><svg><use xlink:href="assets/icons.svg#skype"></use></svg>Spotkania online</a></li>
                <li><a href="/ceny-i-terminy"><svg><use xlink:href="assets/icons.svg#calendar"></use></svg>Ceny i terminy</a></li>
                <li><a href="/kontakt"><svg><use xlink:href="assets/icons.svg#phone"></use></svg>Kontakt</a></li>
                <li><a href="/"><svg><use xlink:href="assets/icons.svg#home"></use></svg>Strona glowna</a></li>
            </ul>
        </nav>
    </section>

    <header>
        <a class="button-wrapper phone-wrapper nohover" href="tel:+447438928601">
            <div class="button button-round phone-button">
                <div class="icon-wrapper">
                    <svg viewBox="0 0 578.106 578.106"><use xlink:href="assets/icons.svg#phone"></use></svg>
                </div>
                <div class="caption">Darmowe spotkanie</div>
            </div>
        </a>
        <label for="menu-toggle" class="button-wrapper">
            <div class="button button-round menu-toggle">
                <div class="icon-wrapper">
                    <div class="hamburger-container">
                        <div class="hamburger">
                            <div class="bar bar-1"></div>
                            <div class="bar bar-2"></div>
                            <div class="bar bar-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </label>
    </header>

    <%= lowerContent %>
    
    <footer itemscope itemtype="http://schema.org/ProfessionalService">
        <meta itemprop="http://schema.org/additionalType" content="http://www.productontology.org/doc/Psychologist" />
        <meta itemprop="http://schema.org/additionalType" content="http://www.productontology.org/doc/Psychotherapist" />
        <p itemprop="http://schema.org/name">Aleksandra Hotala - polski psycholog w Londynie</p> 
        <meta itemprop="http://schema.org/description" content="Darmowe pierwsze spotkanie.
          Terapia indywidualna i terapia par w gabinecie oraz online." />
        <p><a href="tel:+447438928601" itemprop="http://schema.org/telephone" content="+447438928601">+44 743 8928 601</a></p>
        <p itemprop="http://schema.org/address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="http://schema.org/streetAddress">180-186 King's Cross Rd</span>
          <br />
          <span itemprop="http://schema.org/postalCode">WC1X 9DE</span>
          <span itemprop="http://schema.org/addressLocality" content="London">Londyn</span>
          <meta itemprop="http://schema.org/addressRegion" content="England" />
          <meta itemprop="http://schema.org/addressCountry" content="GB" />
        </p>
        <meta itemprop="http://schema.org/openingHours" content="Mo-Su" />
        <meta itemprop="http://schema.org/image" content="http://psycholog-londyn.co.uk/test/assets/aleksandra-hotala.jpg" />
        <meta itemprop="http://schema.org/url" content="http://psycholog-londyn.co.uk" />
        <meta itemprop="http://schema.org/priceRange" content="£0 - £80" />
    </footer>
</body>
</html>