@import 'variables';

html {
  line-height: 1.5em;  
}

a{
  transition: 0.25s;
  background-image: linear-gradient($color-light-grey, $color-light-grey);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

a:hover {
  background-size: 100% 100%;
}

.button-wrapper {
  transition: 0.25s;
  background-image: none !important;
}

.button-wrapper:not(.nohover):hover {
  position: relative;
  transform: scale(1.25)rotate(360deg);
}

.menu-toggle {
  display: none;
}

nav {
  position: static;
  width: 14rem;
  margin-left: $spacing-default;
  height: auto;
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: none;
  z-index: 0;

  ul {
    display: block;

    li {
      a {
        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
}

.services {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;

  article {
    width: 50%;
    margin-bottom: $spacing-default;
  }
}