@import 'variables';

a{
  transition: 0.25s;
  background-image: linear-gradient($color-light-grey, $color-light-grey);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

a:hover {
  background-size: 100% 100%;
}

.button-wrapper {
  transition: 0.25s;
  background-image: none !important;
}

.button-wrapper:not(.nohover):hover {
  position: relative;
  transform: scale(1.25)rotate(360deg);
}

.menu-toggle {
  display: none;
}

.hero {
  .content {
    .button-cta-wrapper {
      position: fixed;
      z-index: 2;
      top: 0;
      height: 6rem;
      right: 20px;

      .button-cta {
        padding: 10px 30px;
        border-radius: 5px;
        transition: 0.25s;
        background-image: linear-gradient($color-light-blue, $color-light-blue);
        background-size: 0% 100%;
        background-repeat: no-repeat;

        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }

  nav {
    position: static;
    width: 250px;
    margin-left: 20px;
    height: auto;
    flex-grow: 1;
    flex-shrink: 0;
    box-shadow: none;
    z-index: 0;

    .header {
      display: none;
    }

    ul {
      li {
        a {
          &:hover {
            background-size: 100% 100%;
          }
        }
      }
    }
  }
}

.services {
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;

  article {
    width: 50%;
    margin-bottom: 20px;
  }
}