@import 'variables';

html {
  font-size: 18px;
}

.hero, .services, footer {
  max-width: $max-width;
  margin: 0 auto;
}

header {
  padding-left: calc(50% - #{$max-width / 2} - #{$spacing-default});
}