@mixin buzz($shift, $buzz-duration, $buzz-frequency, $delay, $idle-time) {
    $total-time: $buzz-duration + $delay + $idle-time;
    $buzz-count: floor($buzz-duration * $buzz-frequency);
    $buzz-start: $delay / $total-time;
    $single-buzz: 1 / ($buzz-frequency * $total-time);
    $buzz-end: $buzz-start + $buzz-count * $single-buzz;
    @keyframes buzz {
        0% {
            transform: none;
        }

        #{percentage($buzz-start)} {
            transform: none;
        }

        @for $buzz-index from 1 to $buzz-count {            
            #{percentage($buzz-start + $single-buzz * $buzz-index)} {
                @if ($buzz-index % 2 == 0) {
                    transform: translateX(#{$shift * -1});
                }
                @else {
                    transform: translateX($shift);
                }
            }
        }
        #{percentage($buzz-end)} {
            transform: none;
        }
    }
}

@mixin zoom-in-out($scale, $transition-duration, $wait-duration, $delay, $idle-time) {
    $total-time: $transition-duration * 2 + $wait-duration + $delay + $idle-time;
    $transition-in-start: $delay / $total-time;
    $transition-in-end: $transition-in-start + ($transition-duration / $total-time);
    $transition-out-start: $transition-in-end + ($wait-duration / $total-time);
    $transition-out-end: $transition-out-start + ($transition-duration / $total-time);    
    @keyframes zoom-in-out {
        0% {
            transform: none;
        }

        #{percentage($transition-in-start)} {
            transform: none;
        }

        #{percentage($transition-in-end)} {
            transform: scale($scale);
        }

        #{percentage($transition-out-start)} {
            transform: scale($scale);
        }

        #{percentage($transition-out-end)} {
            transform: none;
        }
    }
}

@mixin reverse-colors($initial-fill, $initial-background, $transition-duration, $wait-duration, $delay, $idle-time) {
    $total-time: $transition-duration * 2 + $wait-duration + $delay + $idle-time;
    $transition-in-start: $delay / $total-time;
    $transition-in-end: $transition-in-start + ($transition-duration / $total-time);
    $transition-out-start: $transition-in-end + ($wait-duration / $total-time);
    $transition-out-end: $transition-out-start + ($transition-duration / $total-time);    
    @keyframes reverse-colors {
        0% {
            background-color: $initial-background;
            fill: $initial-fill;
        }

        #{percentage($transition-in-start)} {
            background-color: $initial-background;
            fill: $initial-fill;
        }

        #{percentage($transition-in-end)} {
            background-color: $initial-fill;
            fill: $initial-background;
        }

        #{percentage($transition-out-start)} {
            background-color: $initial-fill;
            fill: $initial-background;
        }

        #{percentage($transition-out-end)} {
            background-color: $initial-background;
            fill: $initial-fill;
        }
    }
}