$font-sans: 'Roboto', Helvetica, sans-serif;
$font-serif: 'Roboto Slab', Georgia, serif;
$font-sans-preload: Helvetica, sans-serif;
$font-serif-preload: Georgia, serif;

$color-white: white;
$color-black: #333;
$color-light-blue: rgb(16, 157, 228);
$color-dark-blue: rgb(18, 49, 95);
$color-green: #43C057;
$color-light-grey: whitesmoke;
$color-dark-grey: #e3e3e3;

$font-size: 16px;
$line-height: 1.5rem;
$button-size: 3rem;
$spacing-default: 1rem;
$spacing-horizontal: 1.5rem;

$header-height: $button-size + 2 * $spacing-default;
$body-padding: $header-height + $spacing-default;
$max-width: 900px