$font-sans: Helvetica, sans-serif;
$font-serif: Georgia, serif;

$color-white: white;
$color-black: #333;
$color-light-blue: rgb(16, 157, 228);
$color-dark-blue: rgb(18, 49, 95);
$color-green: #43C057;
$color-light-grey: whitesmoke;
$color-dark-grey: #e3e3e3;

$button-size: 3rem;
$spacing-default: 1rem;

$header-height: $button-size + 2 * $spacing-default;
$body-padding: $header-height + $spacing-default;